.b-homePage {
  width: 100%;
  display: flex;
  flex-direction: column;

  &_section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 50px;

    &.-green {
      background: rgb(124, 216, 86);
    }

    &_inner {
      width: 100%;
      max-width: 980px;
      display: flex;
      gap: 90px;
    }

    &_imageWrapper {
      position: relative;

      &_image {
        width: 375px;
        height: 500px;
        object-fit: cover;
      }

      &::before {
        content: "";
        position: absolute;
        left: -15px;
        top: 35px;
        width: 368px;
        height: 480px;
        background: rgb(124, 216, 86);
        z-index: -1;
      }
    }

    &_content {
      display: flex;
      flex-direction: column;
      margin-top: 45px;

      &_title {
        font: normal 40px/1.37 Inter;
        color: rgb(124, 216, 86);
        margin-bottom: 20px;
      }

      &_text {
        text-indent: 40px;
        font: 300 18px/1.88em Inter;
        color: rgb(124, 216, 86);

        &.-no_indent {
          text-indent: 0;
        }
      }
    }

    &_comment {
      width: 100%;
      height: 278px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      &_text {
        font: italic 500 24px/1.44em Inter;
        text-align: center;
        color: #ffffff;
      }

      &_author {
        font: 500 20px/1.44em Inter;
        text-align: right;
        color: #ffffff;
      }
    }
  }
}
