.b-footer {
  width: 100%;
  height: 80px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(158, 217, 134);

  &_text {
    font: normal 14px/1 Ubuntu;
    text-align: center;
  }
}
